@model GainBargain.DAL.Entities.Market

<div class="container">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="model-header">
                        <h2>Створення магазину</h2>
                    </div>
                    @using (Html.BeginForm())
                    {
                        <div class="modal-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <p>Назва</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Опис</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Логотип</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MarketLogoUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MarketLogoUrl, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Селектор ціни товару</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SelPrice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SelPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Селектор опису товару</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SelName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SelName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Селектор зображення товару</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SelImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SelImageUrl, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group d-flex flex-row justify-content-end">
                                <button class="btn btn-info mr-1" id="createMarket">Зберегти</button>
                                <button class="btn btn-secondary" data-dismiss="modal">Повернутися</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        
</div>
