@model IEnumerable<GainBargain.DAL.Entities.Market>

<div class="d-flex flex-row">
    <h4>Магазини</h4>
    <button class="btn"><span class="badge badge-info p-2" id="createMarket">+ Додати магазин</span></button>
    @Html.ActionLink("+ Додати магазин", "CreateMarket", new { @class="btn"})
</div>

<div class="modal fade" id="createMarketModal" role="dialog" data-url="@Url.Action("CreateMarketPartial")"></div>

@foreach (var item in Model)
{
    <div class="container border p-2">
        <div class="row">
            <div class="col-6">
                <h6>@item.Name</h6>
                <p>@item.Description</p>
            </div>
            <div class="col-3">
                <h6>Адреси</h6>
                <p>А адресов я не вижу</p>
            </div>
            <div class="col-3">
                @Html.ActionLink("Редагувати", "EditMarket", new { id = item.Id })
                <img class="img-fluid" src="@item.MarketLogoUrl" alt="Product image">
            </div>
        </div>
    </div>
}

<script>
    $("#createMarket").click(function (e) {
                e.preventDefault();

                $.get($("#createMarketModal").data("url"), function (data) {
                    $("#createMarketModal").html(data);
                    $("#createMarketModal").modal('show');
                });
            });
</script>