@model IEnumerable<GainBargain.DAL.Entities.Category>

@{
    ViewBag.Title = "SubCategoriesManager";
}

<div class="container">

    <h4>@ViewBag.Name</h4>

    @foreach (var item in Model)
    {
        <form method="post" action="/Admin/SubCategoriesPartial" id="editForm-@item.Id">
                <input type="hidden" value="@item.Id" name="id" />
                <input type="hidden" value="Зберегти" name="submitButton"/>
                <div class="row mb-3 border-bottom categoryEditing">
                    <div class="col-8">
                        <input type="text" value="@item.Name" name="name" 
                               id="categName-@item.Id"/>
                    </div>
                    <div class="col-4 text-right">
                        @*<input type="submit" value="Зберегти" name="submitButton" class="btn btn-default" onclick="editCategory(@item.Id, @ViewBag.scId)"/>*@
                        <button type="button" class="btn btn-default" onclick="$('#categName-@item.Id').focus();" ><i class="fa fa-pencil"></i></button>
                        @*<input type="submit" value="Видалити" name="submitButton" class="btn btn-default" />*@
                        <button type="button" class="btn btn-default" onclick="deleteCategory(@item.Id, @ViewBag.scId)"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
        </form>
    }

</div>

