@model IEnumerable<GainBargain.DAL.Entities.Category>

@{
    ViewBag.Title = "SubCategoriesManager";
}

<div class="container">

    <h4>@ViewBag.Name</h4>

    @foreach (var item in Model)
    {
        <form method="post" action="/Admin/SubCategoriesPartial" id="editForm-@item.Id">
                <input type="hidden" value="@item.Id" name="id" />
                <input type="hidden" value="Зберегти" name="submitButton"/>
                <div class="row mb-3 border-bottom">
                    <div class="col-4">
                        <input type="text" value="@item.Name" name="name" />
                    </div>
                    <div class="col-2">
                        @*<input type="submit" value="Зберегти" name="submitButton" class="btn btn-default" onclick="editCategory(@item.Id, @ViewBag.scId)"/>*@
                        <button type="button" class="btn btn-default" onclick="editCategory(@item.Id, @ViewBag.scId)">Зберегти</button>
                    </div>
                    <div class="col-2">
                        @*<input type="submit" value="Видалити" name="submitButton" class="btn btn-default" />*@
                        <button type="button" class="btn btn-default" onclick="deleteCategory(@item.Id, @ViewBag.scId)">Видалити</button>
                    </div>
                </div>
        </form>
    }

</div>

