@model ProductCache

@* Carousel item for displaying a hot product *@

<div class="col-sm-4 card hot-product">
    <div>
        <img class="card-img-top img-fluid" src="@Model.ImageUrl"
             alt="@Model.Name">
        <div class="price-rect">
            <div class="price">
                <h4><span class="badge badge-danger"> @String.Format("{0:0.00} грн", Model.Price)</span></h4>
            </div>
            <div class="prev-price">
                <s>@String.Format("{0:0.00} грн", Model.PrevPrice)</s>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h4>@Html.ActionLink(Model.Name, "Product", "Catalog", new { id = Model.Id }, new { @class = "card-title text-decoration-none" })</h4>
    </div>
</div>
