@model List<GainBargain.DAL.Entities.ProductsDemo>

@{
    ViewBag.Title = "Лера, Сеня, сделайте, чтоб ок было";
}

@Html.ActionLink("Parsing", "Sources", "Admin")
@Html.ActionLink("Admin panel", "AdminPanel", "Admin")

<h1>Гарячі пропозиції</h1>
<ul>
    @foreach (var product in Model)
    {
    <li>@product.Name @String.Format("{0:0.00} грн", product.Price) замість @String.Format("{0:0.00} грн", product.PrevPrice)</li>
    }
</ul>