@model List<GainBargain.DAL.Entities.Product>

@{
    ViewBag.Title = "Home Page";
}

<h1>Products are (@Model.Count):</h1>
<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name @String.Format("{0:0.00} грн", product.Price)</li>
    }
</ul>

@Html.ActionLink("Parsing", "Sources", "Admin")
@Html.ActionLink("Admin panel", "AdminPanel", "Admin")