@model GainBargain.WEB.Models.UserProfileViewModel

@{
    ViewBag.Title = "Особистий кабінет";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 reportCol">
            <h2 class="orangeText">Особистий кабінет (@Model.Name)</h2>
            <div>
                <h3>Улюблені товари</h3>
                <div class="eyeIconWelcome">
                    <h4 class="font-weight-light">Натисніть іконку ока при перегляді продукту, щоб слідкувати за ним тут...</h4>
                </div>
            </div>
            <h3>Щотижневий звіт</h3>
            <div class="eyeIconWelcome">
                @*<h4 class="font-weight-light">Обери улюблені категорії та отримай звіт</h4>*@
            </div>
            <div class="weeklyReport">
                @foreach (var item in @Model.FavoriteCategories)
                {
                    <table class="table">
                        <thead class="orangeThead">
                            <tr>
                                <th>@item.Category.Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.Action("FavoriteProductsPartial", "User", new { subCategoryId = item.CategoryId })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
        <div class="col-md-5 favCatCol">
            @Html.Action("FavoriteCategoriesPartial")
        </div>
    </div>
</div>

