@model GainBargain.WEB.Models.CatalogVM
@using GainBargain.WEB.Helpers

@{
    ViewBag.Title = "Товари та послуги";
}


<div class="container">
    <div class="row p-2">
        <div>
            <h2 class="mr-auto orange_text"><u>@Model.SuperCategoryName</u></h2>
            <h4 class="font-weight-light">Знайдено товарів: @Model.CountProducts</h4>
        </div>
        @using (Html.BeginForm("Catalog", "Catalog", FormMethod.Post, new { @class = "ml-auto mt-auto " }))
        {
            @Html.HiddenFor(m => m.SuperCategoryId)
            @*@Html.HiddenFor(m => m.SortOrder == null ? true : !Model.SortOrder)*@
            if (Model.SortOrder == null || Model.SortOrder == false)
            {
                @Html.HiddenFor(m => m.SortOrder, new { Value = "true" })
            }
            else
            {
                @Html.HiddenFor(m => m.SortOrder, new { Value = "false" })
            }
            @Html.Hidden("sort", "sort")
            for (int i = 0; i < Model.SelectedCategories.Count; ++i)
            {
                @Html.HiddenFor(model => Model.SelectedCategories[i])
            }
            <button type="submit" class="btn btn-light">Сортувати за ціною</button>
        }
    </div>
    <div class="row border-top">
        <div class="col-12 col-md-3 border-left">
            @*<div class="border-bottom m-0 p-1">
                    <h6>Постачальники послуг\виробники</h6>
                    @foreach(var m in Model.Markets)
                        {
                            <p>@m.Name</p>
                        }
                </div>*@
            <div class="border-top m-0 p-1">
                <h6>Підкатегорії</h6>
                @using (Html.BeginForm("Catalog", "Catalog", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.SuperCategoryId)
                    foreach (var item in Model.AvailableCategories)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       name="SelectedCategories"
                                       value="@item.Id"
                                       @if (Model.SelectedCategories.Contains(item.Id)) { <text> checked </text> } />
                                @item.Name
                            </label>
                        </div>
                    }
                    <input type="submit" class="btn btn-primary" value="Фільтрувати"/>
                }
            </div>
        </div>
        <div class="col-12 col-md-9 border-left">
            <div class="row d-flex flex-row flex-wrap p-2">

                @foreach (var p in Model.Products)
                {
                    <div class="card col-12 col-md-6 col-lg-3">
                        <img class="card-img-top" src="@p.ImageUrl">
                        <div class="card-body">
                            <p class="card-title">@p.Name</p>
                            <div class="mt-2 mt-md-4 ml-auto">
                                <p class="price">@p.Price<span>&#8372;</span></p>
                            </div>
                        </div>
                    </div>
                }

                @*@Html.Action("Products", new { superCategoryId = Model.SuperCategoryId, categoryId = ViewBag.CategoryId })*@
            </div>
            <div class="row">
                @using (Html.BeginForm("Catalog", "Catalog", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.SuperCategoryId)
                    @Html.HiddenFor(m => m.SortOrder)
                    for (int i = 0; i < Model.SelectedCategories.Count; ++i)
                    {
                        @Html.HiddenFor(model => Model.SelectedCategories[i])
                    }
                    <div class="btn-group">
                        @Html.PageButtons(Model.Pager)
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
</script>

