@model GainBargain.WEB.Models.ProductVM

@{
    ViewBag.Title = Model.Name;
}

<div class="container w-75">
    <div class="row">
        @if (Request.IsAuthenticated && User.IsInRole("user"))
        {
            <div class="col-3 col-sm-2 col-lg-1 ml-auto">
                @if (!Model.IsFavorite)
                {
                    <img src="~/Content/img/vision1.svg" width="80" height="80" class="eyeLogo w-50" onclick="addRemoveFavoriteProduct(@Model.Id)" />
                }
                else
                {
                    <img src="~/Content/img/heart.svg" width="80" height="80" class="eyeLogo w-50" onclick="addRemoveFavoriteProduct(@Model.Id)" />
                }
            </div>
        }
    </div>
    <div class="row">
        <div class="col-sm-5">
            <img class="img-fluid" src="@(System.Uri.IsWellFormedUriString(Model.ImageUrl, UriKind.Absolute) && Model.ImageUrl.StartsWith("http")
                    ? Model.ImageUrl
                    : "http://zakaz.atbmarket.com//image/none.jpg.pagespeed.ce.0AkQltvKJb.jpg")" />
        </div>
        <div class="col-sm-6">
            <h4 class="mb-1 mb-sm-3">@Model.Name</h4>
            <div class="mt-auto">
                <h5 class="price font-weight-bold">@Model.Price грн</h5>
                <s>@Model.PrevPrice грн</s>
            </div>
        </div>
    </div>
    <div class="row mt-4 d-flex flex-row justify-content-start">
        <h6 class="font-weight-light mr-1">Постачальник послуг: </h6>
        @Html.ActionLink(Model.MarketName, "Market", new { id = Model.MarketId }, new { @class = "font-weight-bold" })
        <div class="col-2 col-sm-1">
            <img src="@Model.MarketImgUrl" class="img-fluid" />
        </div>
    </div>
</div>
